body{
    position: relative;
    padding-bottom: 150px; 
}
.container1 {
    max-width: 1200px;
    margin: 55px auto;
    padding-top: 50px;
}
section {
    margin-bottom: 40px;
}
h2 {
    font-size: 30px;
    color: #333;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
p {
    color: #ffffff;
}
.visit-us {
    background-color: #333;
    padding: 20px;
    text-align: center;
}
.visit-us h2{
    color: #ffffff;
}

.visit-us a{
    color: #ffffff  ;
}